name: ghome_project
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  flutter_swiper: ^1.1.6
  flutter_screenutil: ^2.1.0
  dio: ^2.1.7
  shared_preferences: ^0.5.3+1
  flutter_webview_plugin: ^0.3.0
  flutter_inappbrowser: 1.2.1
  event_bus: ^1.1.0
  provider: ^3.0.0+1
  fluttertoast: ^3.1.0
  sqflite: ^1.1.5
  city_pickers: ^0.1.30
  common_utils: ^1.2.1
  flutter_easyrefresh: ^2.1.1
  transparent_image: ^1.0.0
  image_picker: 0.6.7+2
  barcode_scan: 3.0.1
  tencent_im_plugin: ^0.2.33

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/user_bg.jpg
    - images/2.0x/user_bg.jpg
    - images/3.0x/user_bg.jpg
    - images/user.png
    - images/2.0x/user.png
    - images/3.0x/user.png
    - images/logo.png
    - images/2.0x/logo.png
    - images/3.0x/logo.png
    - images/bg.jpg
    - images/2.0x/bg.png
    - images/3.0x/bg.png
    - images/up.png
    - images/down.png
    - images/upSeletecd.png
    - images/downSeletecd.png
    - images/price.png
    - images/collect.png
    - images/customerService.png
    - images/shop.png
    - images/shoppingCart.png
    - images/filter.png
    - images/filterSeletecd.png
    - images/serviceIcon.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
